@page
@model Vistas.Pages.AboutModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Estilos.css">
    <title>About</title>
</head>
<body class="opbody">
    <h1 class="oph1">Mission</h1>
    <div>
        <p class="opp">We are a gym that promotes healthy living, through physical activation, offering virtual classes and quality activities.
           We are committed to providing and coordinating professional services that benefit our clients, contributing to the creation
           of a sports culture and family social integration.
        </p>
        <p class="opp">We support and induce the practice of sport and exercise for a better quality of life, developing in a family environment,
           cheerful, cordial and safe from home.We also encourage learning and inspire to maintain the levels reached in the physical
           development.
        </p>
    </div>
    <h1 class="oph1">Vision</h1>
    <div>
        <p class="opp">Position ourselves as a guide gym, through continuous improvement and coordination of quality professional services for all
           our members. Likewise, to be the option where all types of users fit, covering the following aspects:
        </p>
        <ul>
            <li class="opli">The family, which is aimed at all types of people and ages.</li>
            <li class="opli">The individual, with specific physical development or preparation programs.</li>
        </ul>
    </div>
    <h1 class="oph1">Values</h1>
    <div>
        <p class="opp">Our values define who we are. They shape gym's core beliefs globally, guide our actions and behavior, and influence the way
           we work with others, serve our users, and engage with our community.
        </p>
    </div>
</body>