@page
@model Vistas.Pages.CustomerModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="formulario.css">
</head>
<body>
    <form action="" class="formulario">
        <h1 class="formularioTitulo">Customer</h1>
        <input type="text" class="formularioInput" name="" id="name">
        <label for="" class="formularioLabel">Name</label>
        <input type="text" class="formularioInput" name="" id="surname">
        <label for="" class="formularioLabel">SurName</label>
        <input type="text" class="formularioInput" name="" id="age">
        <label for="" class="formularioLabel">Age</label>
        <input type="text" class="formularioInput" name="" id="telephone">
        <label for="" class="formularioLabel">Telephone</label>
        <input type="text" class="formularioInput" name="" id="address">
        <label for="" class="formularioLabel">Address</label>
        <input type="text" class="formularioInput" name="" id="email">
        <label for="" class="formularioLabel">Email</label>
        <input type="text" class="formularioInput" name="" id="password">
        <label for="" class="formularioLabel">Password</label>
        <input type="submit" class="formularioSubmit" value="Send">

    </form>
    <script src="formulario.js"></script>
</body>