@page
@model Vistas.Pages.NutritionModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition</title>
    <link rel="stylesheet" href="formulario.css">
</head>
<body>
    <form action="" class="formulario">
        <h1 class="formularioTitulo">Nutrition</h1>
        <input type="text" class="formularioInput" name="" id="name">
        <label for="" class="formularioLabel">Name</label>
        <input type="text" class="formularioInput" name="" id="eat">
        <label for="" class="formularioLabel">Eat</label>
        <input type="text" class="formularioInput" name="" id="numberdays">
        <label for="" class="formularioLabel">Number of days</label>
        <input type="text" class="formularioInput" name="" id="menu">
        <label for="" class="formularioLabel">Menu</label>
        <input type="submit" class="formularioSubmit" value="Send">

    </form>
    <script src="formulario.js"></script>
</body>